# Supabase Connection
VITE_SUPABASE_URL=your_supabase_url_here
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here
# Define el esquema para este repositorio (ej: hotel_estrella o suite_estrella)
VITE_SUPABASE_SCHEMA=public
